<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.ProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.AlterarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.InativarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.CadastrarProdutoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.FuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.AlterarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InativarFuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.InativarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionarioServlet</servlet-name>
        <servlet-class>br.senac.sp.poo.servlet.CadastrarFuncionarioServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdutoServlet</servlet-name>
        <url-pattern>/ProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarProdutoServlet</servlet-name>
        <url-pattern>/AlterarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarProdutoServlet</servlet-name>
        <url-pattern>/InativarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarProdutoServlet</servlet-name>
        <url-pattern>/CadastrarProdutoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FuncionarioServlet</servlet-name>
        <url-pattern>/FuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarFuncionarioServlet</servlet-name>
        <url-pattern>/AlterarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InativarFuncionarioServlet</servlet-name>
        <url-pattern>/InativarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionarioServlet</servlet-name>
        <url-pattern>/CadastrarFuncionarioServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
